body{
margin:0;
padding:20px;
font-family:'Inter', sans-serif;
background:url("../assets/fondo-claro.png") center/cover no-repeat fixed;
}

/* VERSICULO */
.versiculo img{
width:100%;
border-radius:25px;
margin-bottom:25px;
}

/* BOTONES HORIZONTALES */
.menu-horizontal{
display:flex;
gap:25px;
overflow-x:auto;
padding-bottom:20px;
}

.menu-item{
min-width:95px;
text-align:center;
cursor:pointer;
}

.circle{
width:85px;
height:85px;
border-radius:50%;
background:#E8E6E1;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
transition:0.3s ease;
}

.circle img{
width:42px;
}

.menu-item span{
display:block;
margin-top:10px;
color:#1F3F7A;   /* Azul institucional */
font-weight:600;
font-size:14px;
}

.menu-item:hover .circle{
transform:scale(1.05);
}

/* ACERCA */
.acerca-home{
margin:25px 0;
text-align:center;
}

.acerca-btn{
position:relative;
display:inline-block;
cursor:pointer;
}

.acerca-img{
width:100%;
max-width:350px;
border-radius:20px;
display:block;
}

/* BOTÓN SUPERPUESTO */
.btn-acerca{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
padding:14px 40px;
border:none;
border-radius:40px;
background:#1F3F7A;
color:white;
font-family:'Cinzel', serif;
font-weight:700;
letter-spacing:1px;
font-size:16px;
box-shadow:0 8px 20px rgba(0,0,0,0.25);
cursor:pointer;
transition:0.3s ease;
}

.btn-acerca:hover{
transform:translateX(-50%) scale(1.05);
}

/* RADIO */
.radio-home{
margin-top:40px;
text-align:center;
}

.radio-home h2{
color:#1F3F7A;
margin-bottom:20px;
font-family:'Cinzel', serif;
letter-spacing:1px;
}

.radio-container{
max-width:500px;
margin:auto;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
}
