body{
background:#F4F2EC;
padding:20px;
margin:0;
font-family:Inter, sans-serif;
}

/* VERSICULO */
.versiculo img{
width:100%;
border-radius:25px;
margin-bottom:20px;
}

/* BOTONES HORIZONTALES */
.menu-horizontal{
display:flex;
gap:20px;
overflow-x:auto;
padding-bottom:15px;
}

.menu-item{
min-width:90px;
text-align:center;
}

.circle{
width:80px;
height:80px;
border-radius:50%;
background:#E8E6E1;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
}

.circle img{
width:40px;
}

.menu-item span{
display:block;
margin-top:8px;
color:#2E5E2E;
font-weight:600;
}

/* ACERCA */
.acerca-home{
margin:15px 0;
text-align:center;
}

.acerca-btn{
display:flex;
flex-direction:column;
align-items:center;
cursor:pointer;
}

.acerca-btn img{
width:300px;
height:150px;
border-radius:15px;
background:#E8E6E1;
padding:10px;
}

.acerca-btn span{
margin-top:8px;
font-weight:600;
color:#2E5E2E;
}

/* RADIO */
.radio-home{
margin-top:30px;
text-align:center;
}

.radio-home h2{
color:#2E5E2E;
margin-bottom:15px;
}

.radio-container{
max-width:500px;
margin:auto;
background:white;
padding:15px;
border-radius:15px;
box-shadow:0 6px 15px rgba(0,0,0,0.15);
}
