/* Reset básico */
body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("fondo-principal.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

/* Botón ingresar */
.boton-ingresar{
    background:#1e4fa3;
    color:white;
    border:none;
    padding:18px 45px;
    font-size:22px;
    border-radius:40px;
    cursor:pointer;
    box-shadow:0 6px 12px rgba(0,0,0,0.3);
    transition:transform 0.2s;
}

/* Efecto al pasar el mouse */
.boton-ingresar:hover{
    transform:scale(1.05);
}
