/* RESET MINIMO */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* CONTENEDOR SOLO PARA INDEX */
.index-page{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("fondo-principal.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* BOTON INGRESAR */
.boton-ingresar{
    background-color:#1e4fa3;
    color:white;
    border:none;
    padding:18px 45px;
    font-size:22px;
    border-radius:40px;
    cursor:pointer;
    font-weight:bold;
    box-shadow:0 6px 12px rgba(0,0,0,0.25);
    transition:all 0.2s ease;
}

/* EFECTO HOVER */
.boton-ingresar:hover{
    transform:scale(1.05);
}
